name: Documentation

on:
  push:
    branches: [ main ]

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Prepare custom header
        run: echo '<meta http-equiv="refresh" content="0;url=velocidb/index.html">' > header.html

      - name: Build Documentation
        run: cargo doc --no-deps --document-private-items
        env:
          RUSTDOCFLAGS: --html-in-header header.html
        
      - name: Create Root Redirect
        run: echo '<meta http-equiv="refresh" content="0;url=velocidb/index.html">' > target/doc/index.html
        
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc
